.cardPage {
    margin: 0;
    padding: 0;
}

.cardList {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr; /* Pięć kolumn o równej szerokości */
    align-items: center; /* wyrównanie w pionie */
    justify-items: center; /* wyrównanie w poziomie */

}

.card {
    transition: transform 0.75s ease-in-out;
}
.card:hover {
    transform: scale(0.99);
}

.card-1 {
    background-color: rgba(255, 0, 0, 0.286);
    height: 50%;
    width: 90%;
    opacity: 40%;
}

.card-2 {
    background-color: rgba(0, 0, 255, 0.561);
    height: 70%;
    width: 80%;
    opacity: 70%;
}

.card-3 {
    background-color: rgb(12, 18, 18);
    height: 100%;
    width: 100%;
}

.card-4 {
    background-color: rgba(255, 255, 255, 0.588);
    height: 70%;
    width: 80%;
    opacity: 70%;
}

.card-5 {
    background-color: rgba(255, 0, 255, 0.524);
    height: 50%;
    width: 90%;
    opacity: 40%;
}


.cardButton {
    position:absolute;
    pointer-events: none;
    z-index: 1000;
    width: 25%;
    height: 85%;

    display: flex;
    align-items: center; /* wyrównanie w pionie */
    justify-content: space-between; /* wyrównanie w poziomie CONTENT DLA FLEX ITEMS DLA GRID£*/
}

.cardBtn, .typeBtn{
    transition: transform 0.3s ease;
    pointer-events: auto;
}

.cardBtn:hover, .typeBtn:hover {
    transform: scale(1.03);
}

.typeButton {
    position:absolute;
    pointer-events: none;
    z-index: 1000;
    width: 25%;
    height: 160%;

    display: grid;
    align-items:center; /* wyrównanie w pionie */
    justify-content:space-evenly; /* wyrównanie w poziomie CONTENT DLA FLEX ITEMS DLA GRID£*/
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
